@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700&display=swap');

* {
  box-sizing: border-box;
}
html {
  // ! fix for background image shrink isue
  min-height: 100%;
  display: flex;
}
// Background static image
body {
  // ! fix for background image shrink isue
  flex: 1;
  min-height: 100%;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  background-color: #33428a;
  background: url('/assets/bg-combine.png') center/cover no-repeat;
}
