// Background static image
body {
  position: relative;
  min-height: 100vh;
  background: url('./assets/Hot_vs_Cold_2560x1440.png') center/cover no-repeat;
}

// Background mask
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/Hot_vs_Cold_2560x1440_copy.png') center/cover
    no-repeat;
}
