// background-colors
$form-outline-color: #5d1925;
$form-bg-color: #f4f4f4;
$form-font-color: #afafaf;
$form-glyph-color: #dedede;
$form-bg-color-accept: #95d12d;

// borders
$form-border-accept: 1px solid #50a611;
$form-border-radius: 3px;
$input-border: 1px solid $form-font-color;

// paddings
$form-padding-top: 22px;
$form-padding-horizontal: 23px;
$form-padding-bottom: 18px;
$input-padding: 13px 21px;

// widths
$input-field-width: 338px;
$input-field-height: 39px;

// margins
$input-margin: 21px;

// Elements
$icon-width: $form-padding-horizontal + 23px + 19px;
