.btn-submit {
  cursor: pointer;
  margin-top: 12px;
  display: block;
  font-size: 24px;
  color: white;
  background-color: $form-bg-color-accept;
  background-image: linear-gradient(to top, #7fc41f 0%, #a1d73e 100%);
  border: $form-border-accept;
  border-radius: $form-border-radius;
  width: $input-field-width;
  height: $input-field-height;
}

.btn-submit--secondary {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  font-size: 24px;
  color: white;
  background-color: $form-bg-color-accept;
  background-image: linear-gradient(to top, #7fc41f 0%, #a1d73e 100%);
  border: $form-border-accept;
  border-radius: $form-border-radius;
  width: 139px;
  height: $input-field-height;
}

.btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn--decline {
  background-color: #f44a5c;
  background-image: linear-gradient(to top, #f03848 0%, #f13b4b 100%);
  border-color: #b6545c;
}
