.form-primary {
  position: relative;
  color: $form-font-color;
  background-color: $form-bg-color;
  display: inline-block;
  padding: $form-padding-top $form-padding-horizontal $form-padding-bottom
    $form-padding-horizontal;
  border-radius: $form-border-radius;

  .float-container {
    // display: inline-block;
    position: relative;
    margin-bottom: $input-margin;

    .input-icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      width: 23px;
      pointer-events: none;
      text-align: center;
      img {
        vertical-align: middle;
      }
    }

    .input-icon:before {
      content: '';
      position: absolute;
      background-color: $form-font-color;
      width: 1px;
      height: 29px;
      top: 50%;
      transform: translateY(-50%);
      right: -19px;
    }
    .input-primary {
      background-color: $form-bg-color;
      padding: $input-padding;
      padding-left: $icon-width + 21px;
      border: $input-border;
      border-radius: $form-border-radius;
      font-size: 16px;
      width: $input-field-width;
      height: $input-field-height;
      background-image: linear-gradient(to top, #f0f0f0 0%, #f7f7f7 100%);
    }

    .float-label {
      pointer-events: none;
      top: 50%;
      left: $icon-width + $input-margin;
      transform: translateY(-50%);
      position: absolute;
      transition: all 0.3s ease-out;
    }

    .input-primary:focus + .float-label,
    .input-primary:valid + .float-label {
      transform: scale(0.8) translateY(-37px) translateY(20%);
      padding: 0 3px;
      background-color: $form-bg-color;
    }

    .input-select {
      padding-top: 0;
      padding-bottom: 0;
      color: $form-font-color;

      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }

    .textarea-primary {
      height: 230px;
      padding: 15px;
      resize: none;
    }
    .textarea-primary::placeholder {
      color: $form-font-color;
      font-size: 16px;
      font-family: inherit;
    }
  }

  .float-container--half {
    margin-bottom: 0;
    margin-right: 52px;
    vertical-align: middle;
    display: inline-block;
  }

  .float-container--select:after {
    pointer-events: none;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    position: absolute;
    width: 17px;
    height: 10px;
    background-image: url('./assets/Shape_11.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .checkbox-primary {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    appearance: none;
    border: $input-border;
    border-radius: $form-border-radius;
    vertical-align: middle;
  }

  .checkbox-primary-label {
    vertical-align: middle;
  }

  .checkbox-primary:checked + .checkbox-primary-label:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background-color: #88c814;
    background-image: linear-gradient(to top, #75bb0f 0%, #94ce21 100%);
    top: 5px;
    left: 5px;
    border-radius: $form-border-radius;
  }
}

.form-primary:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background-color: #000;
  opacity: 0.23;
  border-radius: $form-border-radius;
}
