.section-default {
  margin-top: 51px;
  .section-header {
    color: #fff;
    text-shadow: 1px 2px 2px rgba(43, 1, 0, 0.75);
    margin-top: 0;
    margin-bottom: 38px;
    font-size: 32px;
    font-weight: 400;
  }
}

@media (min-width: 1000px) {
  .section-default {
    margin-top: 0;
    .section-header {
      text-align: left;
    }
  }
}
